::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: #333333;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    /* box-shadow: inset 0 0 6px white; */
    background-color: #555555;
    border-radius: 100px;
}

:root {
    --page-size-mult: 1.2;
}

body {
    background-color: #121218;
}

#context-bar {
    left: -15vw;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: #121213;
    width: 15vw;
    height: 94vh;
    margin: auto 0;
    padding: 0;
    transition: left 1s ease-in-out;
    z-index: 1;
    border: 3px #cccccc solid;
}

#context-bar:hover {
    left: 0vw;
    transition: left 1s ease-in-out;
}


.context-rightbar {
    position: absolute;
    background-color: #1e1e1e;
    width: 3vw;
    height: 94vh;
    top: 0;
    bottom: 0;
    right: -3vw;
    margin: auto 0;
    border-radius: 0 100px 100px 0;
    border: 3px #cccccc solid;
    border-left: 0;
}

.context-content {
    display: block; 
    color: white;
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding: 1rem;
    max-height: calc(91vh - 1rem);
    overflow-y: auto;
}

.context-content::-webkit-scrollbar {
    width: 8px;
}

.context-content::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 15px;
}

.context-content::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(70, 70, 150, 1);
    border-radius: 15px;
}


.context-card {
    width: 85%;
    margin: 1vh auto 0 auto;
    border-radius: 20px;
    background-color: #1e1e1e;
    padding: 0.9vh 0.4vw;
    text-align: center;
}

.context-card * {
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
}
.main-text {
    position: absolute;
    width: calc(97vh * (8/11) * var(--page-size-mult));
    min-height: calc(97vh * var(--page-size-mult));
    left: 0;
    right: 0;
    margin: 0 auto;
	resize: none;
	padding: 5px;
	overflow: hidden;
	box-sizing: border-box;
    font-size: 14px;
    border: 5px #81854c solid;
    border-top: 0;
    border-radius: 0 0 20px 20px;
    padding: 10px;
}

.editing-commandbar {
    height: 3vh;
    background-color: #333333;
    width: calc((97vh * (8/11) * var(--page-size-mult)) - 10px);
    margin: 0 auto;
    border: 5px #81854c solid;
    border-bottom: 0px #cccccc solid;
    border-radius: 20px 20px 0px 0px;
}

.editing-commandbar::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: calc(3vh - 3px);
    background: #aaaaaa;
}

.savebtn {
    position: fixed;
    left: 75vw;
    top: 50vh;

    width: 7vw;
    height: 3.5vw;
    font-family: 'Space Mono', monospace;
    font-size: 1.1rem;
    background-color: #00000000;
    color: #aaaaaa;

    border-radius: 75px;
    border: 2px #aaaaaa solid;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, font-size 0.25s ease-in-out;
}

.savebtn:hover {
    color: #222222;
    background-color: #38c;
    border-color: #38c;
    font-size: 1.3em;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, font-size 0.25s ease-in-out;
}